@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

$display-font: "Rock Salt", sans-serif;

.landing-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 20vh;
  background: transparent;
  h1{
     font-family: $display-font;
     font-size: 45px;
     color: #fff;
     text-align: center;
     padding-top:20vh;
  }
  button{
     cursor: pointer;
     background: #fff;
     text-transform: uppercase;
     font-size: 16px;
     padding: 1rem 2rem;
     color: #000;
     border: none;
     border-radius: 9px;
     &:hover{
        transform: scale(1.2);

     }
  }
  h1,h4{
     background: transparent;
  }
}