$background-color: #232323;
$muted-color: #B7B7B7;
.item-container {
  padding: 1rem 1rem;
  background-color: $background-color;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 8px 36px rgba(0, 0, 0, 0.6);
  &:hover {
   cursor: pointer;
   transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
  .background-image {
    width: 100%;
    height: 250px;
  }
  .title,
  .reviews,
  .stars,
  .price {
    margin-top: 0.3rem;
    align-self: flex-start;
    color: #fff;
    font-size: 16px;
    background: transparent;
  }
  .price {
    font-size: 24px;
  }

}
.stars >*{
   background-color: transparent;
   margin-right: 3px;
}
.stars{
   display: flex;
   align-items: center;
}
.num-reviews{
   color: $muted-color;
   font-size: 12px;
   padding-top: 6px;
}
