@import url('https://fonts.googleapis.com/css2?family=Inter&family=Shadows+Into+Light&display=swap');

:root {
  --background-color: #292929;
  --font: 'Inter', sans-serif;
  --color-primary : #DEC79D;
}


*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--color-primary);
  font-family: var(--font);
  font-weight: 400;
  /* font-size: 32px; */
  transition: 0.3s all;
}

.container{
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 2.1rem;
  /* border: 1px solid red; */
}
a{
  text-decoration: none;
}